<div style="margin: 20px auto; width: 780px">
  <div class="app-component">
    <h2>App Component</h2>
    <p>This is <b>app</b> component.</p>
    <button>Button</button>
  </div>

  <div class="component-container">
    <app-comp1></app-comp1>
    <app-comp2></app-comp2>
  </div>
</div>
<!-- We have two child components of this app.component (Comp1 and Comp2)
Inside these child components we have also button element,and style of this button element
which we have specified in app.component.css has been applied only to app.component
This is what View Encapsulation is in Angular!
Usually css styles has global scope and css rules applies to the entire document that is why
we use View Encapsulation-->

<!-- There are 3 types of View Encapsulation :
1.View Encapsulation.None ->
If We uses it,that means WHATEVER CSS STYLE WE HAVE SPECIFIED FOR THIS BUTTON ELEMENT,
WILL BE APPLIE TO ALL THE BUTTON ELEMENTS OF THE CHILD COMPONENT

2.View Encapsulation.Emulated -> by Default
If We uses it,that means UNIQUE ATTRIBUTE WILL BE USED BY ANGULAR FOR EACH COMPONENT

3.View Encapsulation.ShadowDom
If We uses it,that means COMPONENT CREATES IT'S OWN DOM,THE BROWSER KEEPS SHADOW DOM
SEPARATE FROM THE MAIN DOM! IN THIS WAY WE ACHIEVE TRUE ENCAPSULATION USING SHADOW DOM -->
